
[data-theme="dark"] .MuiTableCell-head{
    color: red !important;
    background-color: black !important;
}

[data-theme="dark"] .MuiTableCell-body{
    color: white;
    background-color: black !important;
}

[data-theme="dark"] .MuiTableCell-footer{
    color: white;
    background-color: black !important;
}

[data-theme="dark"] .MuiToolbar-root{
    background-color: black !important;
    color: white;
}


[data-theme="dark"] .MuiToolbar-root Button{
    background-color: black !important;
    color: white;
}

[data-theme="dark"] .td{
    background-color: black !important;
    color: white;
}

.select{ 
    background-color: yellow !important;
    color: black;
}